<center><h1><%= @post.title %></h1>
<h2> Written By: <%= link_to @post.blogger.name, blogger_path(@post) %></h2>
<p> <%= @post.destination.name %> <b><%= @post.destination.country %> </b>
<hr><br>
<%= @post.content %>

<br><br>
<hr>
<br><br>
<%= form_for @post, method: :delete do | f | %>
    <%= f.submit "Delete Post" %>
    <% end %>